 body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .income-container, .expense-container {
            margin-bottom: 20px;
        }
        li.income, li.expense {
            background-color: #e9ecef;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
        }
        .total {
            text-align: center;
            margin-top: 20px;
            padding: 15px;
            background-color: #d4edda;
            border: 1px solid #c3e6cb;
        }
        .add-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            color: #fff;
            background-color: #28a745;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .add-button:hover {
            background-color: #218838;
        }
        /* 新增样式，为收入和支出列表设置最大高度和滚动条 */
        ul {
            max-height: 210px;
            overflow-y: auto;
            list-style-type: none;
        }
        /* 响应式设计 */
        @media (max-width: 768px) {
            .container {
                width: 90%;
                margin: auto;
            }
            .add-button {
                margin: 20px auto;
            }
        }